*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.header{
    height: 41px;
    background-color: black;
    width: 100%;
    color: white
}
.list{
    display: flex;
    justify-content: space-around;
}
.wrapper{
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.list-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.logo span{
    color: #24baa0;
    font-weight: 600;
}
.list-item{
margin-inline: 20px;
list-style-type: none;
}
.list-item:last-child{
    margin-right: 0;
}
.list-link:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.nested-list{
    background-color: black;
    position: absolute;
    padding: 10px;
    top: 27px;
    right: 950px;
}
.nested-list a{
    color: white;
    text-decoration: none;
}
.nested-list li{
    margin-top: 5px;
    list-style-type: none;
}
.first-section{
    height: 500px;
    background-color: rgb(223, 217, 217);
    width: 100%;
    background: linear-gradient(180deg, white,rgb(192, 188, 188));   
}
.click{
    font-size: 75px;
    background-color: transparent;
    color: #24baa0;
    
}
.active:active{
    opacity: 0.5;   
}
.click:hover{
    cursor: pointer;;
}
.headline{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}
.headline span{
    color: #24baa0;
}
.describe{
    text-align: center;
    line-height: 1.5;
}
.click-two{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-click{
    margin-right: 40px;
}
.second-click{
    margin-left: 40px;
}
.headline{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}
.headline span{
    color: #24baa0;
}
.describe{
    text-align: center;
    line-height: 1.5;
}
.click-two{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-click{
    margin-right: 40px;
}
.second-click{
    margin-left: 40px;
}
.second-section{
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 20px;
    margin-bottom: 100px;   
}
.img1{
    background-image: url("../public/images/box1_img.jpg") ;
}
.gray-line{
    width: 100%;
    height: 55px;
    background-color: rgba(243, 235, 235, 0.5);
    margin-bottom:20px ;
}
.card-text{
    text-transform: uppercase;
    border-bottom:8px solid #24baa0;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
}

.img2{
    background-image: url("../public/images/box2_img.jpg");
}
.img3{
    background-image: url("../public/images/box3_img.jpg");
}
.images-style{
    width: 320px;
    height: 200px;
    display: flex;
    align-items: end;
}
.third-section{
    background-color: #f2f2f2;
}
.width-third-section{
    max-width: 1056px;
    margin: 0 auto;
}
.headline2{
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 40px;
}
.cennik{
    border-bottom:5px solid #24baa0;
    width: 320px;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 320px;
    border: solid 2px rgb(170, 169, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    position: relative;
}
.small-circle{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
}
.small-gray-circle{
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.basic-plan{
    text-transform: uppercase;
    color: #24baa0;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}
.zakup{
    background-color: rgb(175, 174, 174);
    width: 100%;
    height: 20px;
    text-align: center;
    color: gray;
    
}
.zakup:nth-child(2n+1){
    background-color: rgb(245, 243, 243);
}
.join-click{
    width: 100px;
    height:25px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 130px;
}
.join-click2{
    width: 100px;
    height:25px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 110px;
}
.join-click3{
    width: 100px;
    height:25px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 90px;
}
.four-section{
    background-color: #f2f2f2;
}
.width-four-section{
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.choice1{
    display: flex;
    flex-direction: column;
}
.krzesło{
    text-transform: uppercase;
    border-bottom:5px solid #24baa0;
    width: 250px;
    text-align: right;
    align-self: flex-end;
}
.input1{
    width: 270px;
    margin-top: 40px;
    height: 30px;
    border: 2px solid #24baa0;
}
.checkbox{
    display: flex;
    margin-top: 15px;
}
.checkbox1{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.sum{
    height: 200px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.twój-fotel{
    text-transform: uppercase;
    color: #24baa0;
    font-weight: bold;
    margin-top: 5px;
}
.suma{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
    color: rgb(190, 187, 187);
}
.pln{
    text-transform: uppercase;
    font-size: 15px;
}
.join-click-last{
    width: 200px;
    height:40px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.consume{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.krzesło1{
    text-transform: uppercase;
    border-bottom:5px solid #24baa0;
    width: 250px;
    text-align: left;
    align-self: flex-start;
}
.five-section{
    background-color: white;
    padding-block: 30px;
}
.width-five-section{
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.kontakt{
    display: flex;
    flex-direction: column;
}
.send{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    text-transform: uppercase;
    border-bottom:5px solid #24baa0;
    width: 200px;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 15px;
}
.name{
    width: 350px;
    height: 20px;
    border:2px solid #24baa0;
    margin-bottom: 10px;
}
.email{
    width: 350px;
    height: 20px;
    border:2px solid #24baa0;
    margin-bottom: 10px;
}
.message{
    border:2px solid #24baa0;
}
.last-photo{
    width: 250px;
    height: auto;
}
.confirm{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.label{
    display: flex;
    align-items: center;
    width: 300px;
}
.last-click{
    width: 200px;
    height:40px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
}
.final{
    background-color: white;
    padding-bottom: 30px;

}
.width-final{
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.t{
    margin-left: 50px;
}

.nested-list{
    background-color: black;
    position: absolute;
    padding: 10px;
    top: 27px;
    right: 950px;
    display: none;
}
.nested-list a{
    color: white;
    text-decoration: none;
}
.nested-list li{
    margin-top: 5px;
    list-style-type: none;
}
.cena-rodzaju{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cena-koloru{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cena-materialu{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.podsumowanie{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table{
    border-right: 1px solid rgb(151, 145, 145);
    padding-bottom: 10px;
    padding-left: 10px;
}
.whole-table{
    border-bottom: 1px solid rgb(151, 145, 145);
}