*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.header{
    height: 41px;
    background-color: black;
    width: 100%;
    color: white
}
.list{
    display: flex;
    justify-content: space-around;
}
.wrapper{
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.list-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.logo span{
    color: #24baa0;
    font-weight: 600;
}
.list-item{
margin-inline: 20px;
list-style-type: none;
}
.list-item:last-child{
    margin-right: 0;
}
.list-link:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.nested-list{
    background-color: black;
    position: absolute;
    padding: 10px;
    top: 27px;
    right: 950px;
}
.nested-list a{
    color: white;
    text-decoration: none;
}
.nested-list li{
    margin-top: 5px;
    list-style-type: none;
}
.first-section{
    height: 500px;
    background-color: rgb(223, 217, 217);
    width: 100%;
    background: linear-gradient(180deg, white,rgb(192, 188, 188));   
}
.click{
    font-size: 75px;
    background-color: transparent;
    color: #24baa0;
    
}
.active:active{
    opacity: 0.5;   
}
.click:hover{
    cursor: pointer;;
}
.headline{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}
.headline span{
    color: #24baa0;
}
.describe{
    text-align: center;
    line-height: 1.5;
}
.click-two{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-click{
    margin-right: 40px;
}
.second-click{
    margin-left: 40px;
}